main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.validation-errors-display {
  text-align: center;
  margin: 1rem;
  color: #FFFFFF;
  background-color: #FF0000;
  max-width: 400px;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 1rem;
}
